body {
  margin: 0;
  padding: 0;
}
.main {
  height: 50vh;
  width: 100%;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#heading {
  font-family: "Inter";
  font-style: normal;

  font-size: 3vw;
  line-height: 173%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
}
/*Input field styling starts*/
#inp-num {
  font-size: 8vw;
  font-family: "Inter";
  font-style: normal;
  line-height: 25%;

  color: #ffffff;
  background: none;
  width: 100%;
  text-align: center;
  font-weight: 800;
  border: none;
  outline: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/*Input field styling ends*/
.results {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results h3 {
  font-family: "Inter";
  font-style: normal;
  font-size: 1.5vw;
  color: #1a1921;
}

.results p {
  font-family: "Inter";
  font-style: normal;
  font-size: 1vw;
  color: #4e4e4e;
}
